@charset 'utf-8';
#slideDown{
    	margin-top: 0;
    	width: 100%;
    	font-size: 20px;
} 
#slideDown1,#slideDown2{
    	width: 100%;
    	height: 70px;
    	background: #e9f4f7;
    	display: none;
} 
#slideDown1{
    	height: 20px;
} 
#slideDown1>p,#slideDown2>p{
    	margin: 20px auto;
    	text-align:center;
    	font-size: 14px;
    	color: #37bbf5;
} 